.search {
  -webkit-appearance: none;
  border: none;
  outline: none;
  padding: 10px;
  width: 150px;
  line-height: 30px;
  margin-bottom: 30px;
  width: 80%;
  font-size: 20px;
}

.search:focus {
  background: #ffd457;
  color: rgb(14, 14, 14);
  font-size: 20px;
}